body {
    background-color: rgb(238, 238, 247);
    color: rgb(49, 52, 61);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}